/* Home Page */

.home {
    position: relative;
}

.home:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url(https://i.imgur.com/7wvoG4p.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.homeBody {
    position: relative;
}

.navigationHome {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    /* dimgray slategray */
}

.hoNav {
    margin-right: 10px;
}

.abNav {
    margin-right: 10px;
}

.stNav {
    margin-right: 10px;
}

.prNav {
    margin-right: 10px;
}

a.navigationHome {
    color: slategray;
    text-decoration: none;
}

.header {
    color: maroon;
    /* crimson darkred firebrick */
    margin-bottom: 150px;
}

.sections {
    font-size: 30px;
}

a.sections {
    color: lightgray;
    text-decoration: none;
}

.redBackground {
    background-color: maroon;
    opacity: 0.5;
}

.redBackground:hover {
    opacity: 1;
}

.ab {
    padding-left: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.st {
    padding-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pr {
    padding-left: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.co {
    padding-left: 55%;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* About Me */

.navigation {
    display: flex;
    justify-content: flex-end;
}

.about {
    background-image: linear-gradient(to top right, slategray, lightgray, slategray);
    background-repeat: no-repeat;
    background-size: cover;
}

a.navigation {
    color: maroon;
    text-decoration: none;
    font-size: 15px;
}

.text {
    color: maroon;
    font-size: 25px;
}

.aboutBody {
    display: flex;
}

.me {
    margin-right: 25px;
    margin-left: 15px;
}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 10px ridge maroon;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .caption {
    color: maroon;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: maroon;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* Projects */

.projects {
    background-image: linear-gradient(to top right, slategray, lightgray, slategray);
    background-repeat: no-repeat;
    background-size: cover;
}

.firstWebsite {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    border: 5px double maroon;
}

.tic-tac-toe {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    border: 5px double maroon;
}

.earsketch1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    border: 5px double maroon;
}

.earsketch2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    border: 5px double maroon;
}

a.projectLinks {
    color: maroon;
    text-decoration: none;
    font-size: 24px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.projectPicture {
    padding: 15px;
}


/* Special Topics Presentation */

.specialTopics {
    background-image: linear-gradient(to top right, slategray, lightgray, slategray);
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation {
    color: maroon;
    font-size: 25px;
}

.topics {
    margin-top: 25px;
    margin-bottom: 25px;
}

.underSlideshow {
    display: flex;
    justify-content: space-evenly;
}

.description{
    margin-right: 5%;
    margin-left: 15px;
}


/* Contact Information */

.contactInfo {
    background-image: linear-gradient(to top right, slategray, lightgray, slategray);
    background-repeat: no-repeat;
    background-size: cover;
}

a.contactLinks {
    color: maroon;
    text-decoration: none;
}

.contact {
    display: flex;
}

.emails {
    display: flex;
    justify-content: space-evenly;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-left: 200px;
}

.round {
    border-radius: 20px;
}

.text {
    margin-left: 15px;
}



.heading {
    margin-left: 15px;
    color: maroon;
    font-size: 40px;
}
